For loop
While loop
iter

In [ ]:
iteration 
iterable
itertor

In [ ]:
(str
list
tuple
set
dict)   = iterable

In [ ]:
for, while, iter  = iterator

In [ ]:
iteration

In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
str1 = "this is my first string"
str2 = "this is my second string"

In [3]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [4]:
for i in l:
    print("py")

py
py
py
py
py
py
py

In [5]:
for i in str1 :
    print(i)

t
h
i
s

i
s

m
y

f
i
r
s
t

s
t
r
i
n
g

In [6]:
a = 45653


for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [7]:
a = [45653]


for i in a:
    print(i)

45653

In [8]:
b = 676.99


for i in b:
    print(i)

TypeError: 'float' object is not iterable

In [9]:
c = True

for i in b:
    print(i)

TypeError: 'float' object is not iterable

In [11]:
d = 64 + 6j

for i in d:
    print(i)

TypeError: 'complex' object is not iterable

In [ ]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

for num in l:
    print(num)

In [12]:
ranges = range(10)

In [16]:
ranges

range(0, 10)

In [18]:
for x in range(50):
    print(x, "Python")

0 Python
1 Python
2 Python
3 Python
4 Python
5 Python
6 Python
7 Python
8 Python
9 Python
10 Python
11 Python
12 Python
13 Python
14 Python
15 Python
16 Python
17 Python
18 Python
19 Python
20 Python
21 Python
22 Python
23 Python
24 Python
25 Python
26 Python
27 Python
28 Python
29 Python
30 Python
31 Python
32 Python
33 Python
34 Python
35 Python
36 Python
37 Python
38 Python
39 Python
40 Python
41 Python
42 Python
43 Python
44 Python
45 Python
46 Python
47 Python
48 Python
49 Python

In [20]:
for x in range(20):
    print("Python", end = " ")

Python Python Python Python Python Python Python Python Python Python Python Python Python Python Python Python Python Python Python Python

In [22]:
for i in l :
    pass
    print(i)

1
2
3
4
sudh
kumar
45.56

In [23]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [24]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [25]:
for i in l :
    if i == 4 :
        pass
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
4
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [26]:
for i in l :
    if i == 4 :
        continue
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [27]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a

In [28]:
t = (4,5,6,7,8,6,"sudh")

for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [29]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}
for i in b:
    print(i)

4
5
6
7
8
sudh

In [30]:
c = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [31]:
c

{4, 5, 6, 7, 8, 'sudh'}

In [32]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [33]:
for i in d:
    print(i)

key1
contact
position

In [34]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'gmail')
('position', 'mentor')

In [35]:
for i in d.values():
    print(i)

sudh
gmail
mentor

In [36]:
for i in d.keys():
    print(i)

key1
contact
position

In [37]:
d["key1"]

'sudh'

In [38]:
for i in d :
    print(i,":" ,  d[i])

key1 : sudh
contact : gmail
position : mentor

In [39]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [42]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [44]:
n = 4

for i in range(n) :
    for j in range(0, i+1) : 
        print("DA" , end = " ")
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA