In [5]:
my_number_list = range(3,8)
my_number_list
len(my_number_list)

5

In [7]:
my_number_list[0]

3

In [8]:
i = 0
while i < len(my_number_list):
    print( i, my_number_list[i])
    i = i+1
    
print("Length of list ", len(my_number_list))

0 3
1 4
2 5
3 6
4 7
Length of list  5

In [10]:
i = 0
while i < 3:
    print(i)
    i+=1

0
1
2

In [ ]:
i = 0
#while i < 3:
    print(i)

In [1]:
count = 3

for i in range(count):
    name = input("Enter the name : ")
    print()
    print('You entered ', name)

Enter the name :  anup

You entered  anup

Enter the name :  sagar

You entered  sagar

Enter the name :  parag

You entered  parag

In [2]:
name = ""

while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop : amit

You entered  amit

Enter the name (use 'Quit' to stop : anup

You entered  anup

Enter the name (use 'Quit' to stop : Quit

In [ ]:
# Example
i = 0           #iteration variable initialized
while i < 5:    # condition is evaluated 
    print(i)    # block statements are executed until the condition is true i.e. 5 times
    i = i + 1

In [3]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [4]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        break   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

In [5]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        pass  # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [ ]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        continue   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

In [1]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the stmt (Use 'Quit' to stop )")
    if stmt.startswith("#") :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the stmt (Use 'Quit' to stop ) amit

amit

Enter the stmt (Use 'Quit' to stop ) anup

anup

Enter the stmt (Use 'Quit' to stop ) #anup
Enter the stmt (Use 'Quit' to stop ) Quit

Quit

In [2]:
#Example : print Hello five times
for i in range(5):
    print("Hello", i+1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [3]:
for i in range(3):
    number = int(input("Enter the number"))
    print("the cube is " , number*number*number )

Enter the number 4

the cube is  64

Enter the number 2

the cube is  8

Enter the number 8

the cube is  512

In [4]:
for i in range(5):
    print("(i)  ", i, "(number) " , i+1)

(i)   0 (number)  1
(i)   1 (number)  2
(i)   2 (number)  3
(i)   3 (number)  4
(i)   4 (number)  5

In [6]:
for i in range(99, 50, -5):
    print(i)

99
94
89
84
79
74
69
64
59
54

In [8]:
scores = [23, 34, 12, 34, 45,"" ,"6" ,"" ]
length = len(scores)

for i in range(length):
    print(scores[i])

23
34
12
34
45

6

In [9]:
squares = [0, 1, 4, 9, 16]

for i, j in enumerate(squares):
    print("index : ", i, "  ", "value : " , j)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  4
index :  3    value :  9
index :  4    value :  16

In [10]:
squares = [0, 1, 40, 90, 16, 20]

for i, j in enumerate(squares):
    print("index : ", i, "  ", "value : " , j)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  40
index :  3    value :  90
index :  4    value :  16
index :  5    value :  20

In [12]:
for i, j in enumerate(range(10)):
    print(i, "-", j)

0 - 0
1 - 1
2 - 2
3 - 3
4 - 4
5 - 5
6 - 6
7 - 7
8 - 8
9 - 9

In [13]:
lis = ["mango", "orange", "graps", "banana"]

In [14]:
for i, j in enumerate(lis):
    print(i, "-", j)

0 - mango
1 - orange
2 - graps
3 - banana

In [15]:
my_string = "this is demo"

for letter in my_string:
    print(letter)

t
h
i
s

i
s

d
e
m
o

In [18]:
my_string = "this is demo"

for letter in my_string:
    print(letter, end = " ")

t h i s   i s   d e m o

In [19]:
#iterate over tuple elements directly

my_tuple = (1, 'two', 3.4, True)

for element in my_tuple:
    print(element)

1
two
3.4
True

In [20]:
#iterate over dictionary elements directly

my_dict = {"key1": "value1", "key2":"value2"}

for item in my_dict.items():
    print(item)

('key1', 'value1')
('key2', 'value2')

In [21]:
s = "Jasmin sheikh"
for i in s:
    print(i)

J
a
s
m
i
n

s
h
e
i
k
h

In [23]:
len(s)

13

In [26]:
s[5]

'n'

In [22]:
s = "Jasmin sheikh"
for i in range(len(s)) : 
    print(i , s[i])

0 J
1 a
2 s
3 m
4 i
5 n
6
7 s
8 h
9 e
10 i
11 k
12 h

In [27]:
s = "Jasmin sheikh"
for i in range(len(s)) : 
    print(i , s[i+1])

0 a
1 s
2 m
3 i
4 n
5
6 s
7 h
8 e
9 i
10 k
11 h

IndexError: string index out of range

In [28]:
S = "Jasmin"
for i in range(len(S)-1 , -1, -1):
    print(i , S[i])

5 n
4 i
3 m
2 s
1 a
0 J

In [30]:
list(range(5, -2, -2))

[5, 3, 1, -1]

In [31]:
d = {1: "Nikita", 2: "mayuri", 3:"jasmin", 4:"aarti", 5:"pratiksha"}

In [35]:
j = (1,"Nikita")

In [37]:
type(j)

tuple

In [43]:
j[1]

'Nikita'

In [41]:
for i in d.items():
    print(i , type(i) , type(i[0]))

(1, 'Nikita') <class 'tuple'> <class 'int'>
(2, 'mayuri') <class 'tuple'> <class 'int'>
(3, 'jasmin') <class 'tuple'> <class 'int'>
(4, 'aarti') <class 'tuple'> <class 'int'>
(5, 'pratiksha') <class 'tuple'> <class 'int'>

In [44]:
for i in d.items():
    print(i , type(i) , type(i[0]), type(i[1]))

(1, 'Nikita') <class 'tuple'> <class 'int'> <class 'str'>
(2, 'mayuri') <class 'tuple'> <class 'int'> <class 'str'>
(3, 'jasmin') <class 'tuple'> <class 'int'> <class 'str'>
(4, 'aarti') <class 'tuple'> <class 'int'> <class 'str'>
(5, 'pratiksha') <class 'tuple'> <class 'int'> <class 'str'>

In [1]:
i= 0
while i <  4:
    for j in range(i):
        print(j)
    i+=1

0
0
1
0
1
2

In [5]:
for i in range(3):
    print(i)

0
1
2