In [1]:
dict1 = {"name": "jasmine", "class":[1,3,4,6]}

In [2]:
list1 = [1,2,3,"dg", {"name": "jasmine"}]

In [3]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

In [4]:
for i in d.items():
    print(i)

(1, [1, (1, 2)])
(2, (1, [1, 5, 3]))
(3, [1, {4: (5, 6)}])

In [5]:
for i in d.items():
    print(i, " ", type(i))

(1, [1, (1, 2)])   <class 'tuple'>
(2, (1, [1, 5, 3]))   <class 'tuple'>
(3, [1, {4: (5, 6)}])   <class 'tuple'>

In [6]:
for i in d.items():
    print(i, " ", type(i), type(i[0]))

(1, [1, (1, 2)])   <class 'tuple'> <class 'int'>
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'int'>
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'int'>

In [8]:
for i in d.items():
    print(i, " ", type(i), type(i[0]), type(i[1][0]), i[1][0])

(1, [1, (1, 2)])   <class 'tuple'> <class 'int'> <class 'int'> 1
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'int'> <class 'int'> 1
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'int'> <class 'int'> 1

In [9]:
for i in d.items():
    print(i, " ", type(i), type(i[0]), type(i[1][0]), i[1][0], type(i[1][1]))

(1, [1, (1, 2)])   <class 'tuple'> <class 'int'> <class 'int'> 1 <class 'tuple'>
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'int'> <class 'int'> 1 <class 'list'>
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'int'> <class 'int'> 1 <class 'dict'>

In [11]:
for i in d.items():
    print(i, " ", type(i), type(i[0]), type(i[1][0]), i[1][0], type(i[1][1]), type(i[1][1][4]) )

IndexError: tuple index out of range

In [12]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

for i in d.items():
    print(i,"   ",  type(i),"   ",type(i[1]), "  ",  type(i[1][3])," ",type(i[1][3][0]))

IndexError: list index out of range

In [18]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

for i in d.items():
    if type(i[1]) == list:
        if type(i[1][1]) == dict:
            print(type(i[1][1][4]), i[1][1][4])

<class 'tuple'> (5, 6)

In [19]:
d1 = { 1:[1,2], 2:[1,3], 3:[2,3]}

In [21]:
for i in d1.items():
    print(i[1][0])

1
1
2

In [22]:
my_dict = {"key1": "value1", "key2":"value2"}


for item in my_dict.items():
    print(item[1][1])

a
a

In [30]:
for item in my_dict.values():
    if item == "value2":
        print(item)

value2

In [26]:
for item in my_dict.keys():
    print(item)

key1
key2

In [31]:
d3 = {1: "Nikita", 2: "mayuri", 3:"jasmin", 4:"aarti", 5:"pratiksha", 6:"nikita"}

In [35]:
for i in d3.values():
    if i == "Nikita" or i == "nikita":
        print(i)

Nikita
nikita

In [36]:
d4 = {1: ([["a","b"],1,2],"Nikita","mayuri"), 2: ([[2,"b"],"k1",2000],"mayuri","nikita")}

In [38]:
for i in d4.values():
    for j in i:
        if type(j) == str: 
            print(j)

Nikita
mayuri
mayuri
nikita

In [39]:
for i in d4.values():
    print(i)

([['a', 'b'], 1, 2], 'Nikita', 'mayuri')
([[2, 'b'], 'k1', 2000], 'mayuri', 'nikita')

In [44]:
for i in d4.values():
    for j in i:
        if type(j) == list: 
            for k in j:
                if type(k) == int:
                    print(k)

1
2
2000

In [46]:
t = ("sudh","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [47]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [57]:
d5 = {3:3, 4:"kjshdf", "key1":"sudh", "key1":"kumar"}
for k,v  in d5.items():
        print(k,v)

3 3
4 kjshdf
key1 kumar