In [10]:
times = int(input("Enter the height of triangle\n"))

print()

items = []
for i in range(times,20,2):
    items.append(i+1)

Enter the height of triangle
 3

In [11]:
items

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
for j in items:
    print((2*j-j)* " ", j * "*"," $")

     ****  $
       ******  $
         ********  $
           **********  $
             ************  $
               **************  $
                 ****************  $
                   ******************  $
                     ********************  $

In [19]:
rows = 5

for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4

In [20]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
rows = 10
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0, -2):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print(' ')

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4
5 5

In [32]:
rows = 5
num = rows
# reverse for loop
for i in range(rows, 0, -1):
    for j in range(0, i):
        print("&", end=' ')
    print("\r")

& & & & &
& & & &
& & &
& &
&

In [46]:
rows = 5
num = rows
# reverse for loop
for i in range(rows, 0, -1):
    for j in range(5-i):
        print(" "*j, end = "")
    for j in range(0, i):
        print("&", end=' ')
    print("\r")

& & & & &
& & & &
 & & &
   & &
      &

In [47]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [48]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [49]:
rows = 5
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [50]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [52]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")


for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

        *
      * *
    * * *
  * * * *
* * * * *
*
* *
* * *
* * * *
* * * * *

In [ ]:
rows = 5
k = 2 * rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

In [55]:
list(range(6, -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [56]:
list(range(6,0, -1))

[6, 5, 4, 3, 2, 1]

In [58]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *