In [1]:
def add_numbers(a, b):
    """Return the sum of two numbers."""
    return a + b

In [2]:
add_numbers(2, 8)

10

In [3]:
add_numbers(40, 88)

128

In [4]:
add_numbers(50)

TypeError: add_numbers() missing 1 required positional argument: 'b'

In [13]:
def multiply(a, b=2):
    """Return the product of a and b. Default value of b is 1."""
    return a * b

In [14]:
multiply(4)

8

In [15]:
multiply(7, 3)

21

In [16]:
multiply(3, 4)

12

In [17]:
def list_items(*args):
    """Print all items passed as arguments."""
    for item in args:
        print(item)

In [19]:
list_items("py", "java")

py
java

In [20]:
list_items()

In [21]:
list_items('apple', 'banana', 'cherry')

apple
banana
cherry

In [22]:
def print_info(**kwargs):
    """Print key-value pairs passed as keyword arguments."""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [23]:
print_info()

In [25]:
print_info(lan = "python")

lan: python

In [26]:
print_info(lan = "python", flan = "HTML")

lan: python
flan: HTML

In [27]:
print_info(name="Alice", age=30)

name: Alice
age: 30

In [28]:
def divide(a, b):
    """
    Divide a by b and return the result.

    Parameters:
    a (float): The numerator.
    b (float): The denominator.

    Returns:
    float: The result of the division.
    """
    return a / b

In [30]:
divide(60, 9)

6.666666666666667

In [31]:
def square(x):
    """Return the square of x."""
    return x * x

In [32]:
square(5)

25

In [34]:
def calculate_area(radius):
    """Calculate the area of a circle with the given radius."""
    import math
    area = math.pi * (radius ** 2)
    return area

In [35]:
calculate_area(20)

1256.6370614359173

In [37]:
def factorial(n):
    """
    Calculate the factorial of a non-negative integer n.

    Parameters:
    n (int): The number to calculate the factorial for.

    Returns:
    int: The factorial of n.
    """
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

In [38]:
factorial(-1)

ValueError: Factorial is not defined for negative numbers

In [39]:
factorial(0)

1

In [40]:
factorial(4)

24

In [41]:
def is_prime(n):
    """
    Check if a number is a prime number.

    Parameters:
    n (int): The number to check.

    Returns:
    bool: True if n is a prime number, False otherwise.
    """
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [43]:
is_prime(38)

False

In [45]:
def find_max(lst):
    """
    Find the maximum value in a list of numbers.

    Parameters:
    lst (list of int/float): The list to search.

    Returns:
    int/float: The maximum value in the list.
    """
    if not lst:
        raise ValueError("List is empty")
    max_value = lst[0]
    for item in lst[1:]:
        if item > max_value:
            max_value = item
    return max_value

In [46]:
find_max(5)

TypeError: 'int' object is not subscriptable

In [47]:
l1 = [3,5,67,83,34,27]

In [48]:
find_max(l1)

83

In [49]:
def reverse_string(s):
    """
    Reverse the input string.

    Parameters:
    s (str): The string to reverse.

    Returns:
    str: The reversed string.
    """
    return s[::-1]

In [50]:
reverse_string("amit")

'tima'

In [51]:
def sum_list(lst):
    """
    Calculate the sum of all numbers in a list.

    Parameters:
    lst (list of int/float): The list of numbers to sum.

    Returns:
    int/float: The sum of the list.
    """
    total = 0
    for num in lst:
        total += num
    return total

In [52]:
sum_list(l1)

219

In [53]:
def fibonacci(n):
    """
    Generate the first n numbers in the Fibonacci sequence.

    Parameters:
    n (int): The number of Fibonacci numbers to generate.

    Returns:
    list of int: The first n numbers in the Fibonacci sequence.
    """
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    sequence = [0, 1]
    while len(sequence) < n:
        sequence.append(sequence[-1] + sequence[-2])
    return sequence

In [55]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [56]:
def celsius_to_fahrenheit(celsius):
    """
    Convert Celsius to Fahrenheit.

    Parameters:
    celsius (float): The temperature in Celsius.

    Returns:
    float: The temperature in Fahrenheit.
    """
    return (celsius * 9/5) + 32

In [59]:
celsius_to_fahrenheit(37)

98.6

In [60]:
def fahrenheit_to_celsius(fahrenheit):
    """
    Convert Fahrenheit to Celsius.

    Parameters:
    fahrenheit (float): The temperature in Fahrenheit.

    Returns:
    float: The temperature in Celsius.
    """
    return (fahrenheit - 32) * 5/9

In [61]:
def string_length(s):
    """
    Find the length of a string.

    Parameters:
    s (str): The string to measure.

    Returns:
    int: The length of the string.
    """
    length = 0
    for _ in s:
        length += 1
    return length

In [62]:
string_length("python is a data science language")

33

In [63]:
def count_occurrences(lst, item):
    """
    Count the occurrences of an item in a list.

    Parameters:
    lst (list): The list to search.
    item: The item to count.

    Returns:
    int: The number of times the item appears in the list.
    """
    count = 0
    for element in lst:
        if element == item:
            count += 1
    return count

In [64]:
count_occurrences([1, 2, 2, 3, 2, 4], 2)

3

In [65]:
def is_palindrome(s):
    """
    Check if a string is a palindrome.

    Parameters:
    s (str): The string to check.

    Returns:
    bool: True if the string is a palindrome, False otherwise.
    """
    s = s.lower().replace(" ", "")  # Normalize the string
    return s == s[::-1]

In [66]:
is_palindrome("apple")

False

In [67]:
is_palindrome("wow")

True

In [68]:
is_palindrome("nan")

True

In [69]:
is_palindrome("minimun")

False

In [70]:
print(is_palindrome("A man a plan a canal Panama"))  # Output: True
print(is_palindrome("hello"))  # Output: False

True
False

In [ ]:
def add_numbers1(a, b):
    logging
    try:
        """Return the sum of two numbers."""
        return a + b
    except