# Oops

In [2]:
class person:
     def __init__(self, name, surname, emailid , year_of_birth):    
            self.name = name
            self.surname = surname
            self.emailid = emailid
            self.year_of_birth = year_of_birth

In [4]:
obj = person("john", "tata", "john@gmail.com", 2000)

In [5]:
obj.surname

'tata'

In [6]:
obj.name

'john'

In [7]:
obj1 = person("ROHIT", "SHARMA", "SHARMA@gmail.com", 1987)

In [8]:
obj1.year_of_birth

1987

In [10]:
print(obj1)

<__main__.person object at 0x000001D78E6D7550>

In [11]:
##################################

In [18]:
class person1:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
        
    def __init__(self, name,  year_of_birth):
        self.name = name
        self. year_of_birth= year_of_birth

    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth 
    
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [20]:
obj2 = person1("sagar", "kumar", 2001)

In [24]:
obj2.name

'sagar'

In [26]:
obj2.age(2024)

23

In [ ]:
#########################################################################

In [31]:
class person2:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name1 = name
        self.surname1 = surname
        self.emailid1 = emailid
        self.year_of_birth = year_of_birth
           
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth 
    
    def age_2(self, curretn_year):
        return curretn_year

In [33]:
obj3 = person2("rohit", "patil", "rohit@gmail.com", 2002)

In [34]:
obj3.name1

'rohit'

In [35]:
obj3.age_2(2024)

2024

In [36]:
obj3.age(2024)

22

In [37]:
#############################################

In [38]:
class person3 :
    
    def __init__(self , name ,surname , yob):
        self._name1 = name                 # single _ means private 
        self.__surname1 = surname          #  double __ means protective
        self.yob1 = yob                    # public

In [39]:
obj4 = person3("rahul", "deo", 1999)

In [40]:
obj4.yob1

1999

In [41]:
obj4._name1

'rahul'

In [42]:
obj4.__surname1

AttributeError: 'person3' object has no attribute '__surname1'

In [43]:
obj4._person3__surname1

'deo'

In [48]:
##############################################

In [49]:
class person4:                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person4):           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

In [50]:
obj5 = employee()
# inheritense

In [51]:
obj5.name

'amit'

In [52]:
obj5.surname

'singh'

In [53]:
obj6 = person4()

In [54]:
obj6.surname

'kumar'

In [55]:
obj6.age1(2024)

34

In [56]:
obj5.age1(2024)

33

In [58]:
class car :                 #perent class   
                         # inheritence 
    def __init__(self , body , engin , tyre):
        self.body = body
        self.engin = engin
        self.tyre = tyre

    def milage (self):
        print("milage of this car ") 
        
        
class tata(car):                #child class
    pass

t = tata("solid1" , "v8" , "radial1")
print(t)
print(t.milage())

<__main__.tata object at 0x000001D78ED69490>
milage of this car
None

In [57]:
############################################################

In [59]:
class bank :             # perents class 
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")


class HDFC_bank(bank):             # child class
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")

class icici(HDFC_bank):          # child class
    pass                        

# multilevel inheritence

In [62]:
obj7 = bank()
obj8 = HDFC_bank()
obj9 = icici()

In [64]:
obj7.transaction()

total transaction value

In [65]:
obj8.hdfc_to_icici()

this will show you all the transaction happend to icici throuhg hdfc

In [66]:
obj9.deposite()

this will show your deposited amount

In [67]:
#####################################################

In [68]:
class bank :
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")
    def test(self):                          # override code
        print("this is a test methond form bank class ")


class HDFC_bank:
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")
    def test(self):           #override code
        print("this is a test method form hdfc bank ")

class ineron_bank:
    def account_status_icici(self):
        print("print a account status in icici ")

class icici(bank, HDFC_bank, ineron_bank):      # multiple inheritence
    pass

In [69]:
obj10 = bank()

In [74]:
obj11 = HDFC_bank()

In [71]:
obj12 = ineron_bank()

In [72]:
obj13 = icici()

In [75]:
obj12.account_status_icici()

print a account status in icici

In [76]:
obj13.test()

this is a test methond form bank class

In [77]:
class bank :
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")
    def test(self):                          # override code
        print("this is a test methond form bank class ")


class HDFC_bank:
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")
    def test(self):           #override code
        print("this is a test method form hdfc bank ")

class ineron_bank:
    def account_status_icici(self):
        print("print a account status in icici ")

class icici(HDFC_bank, bank,  ineron_bank):      # multiple inheritence
    pass

In [78]:
obj14 = icici()

In [79]:
obj14.test()

this is a test method form hdfc bank