In [1]:
# install mysql connection package
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 660.6 kB/s eta 0:00:22
    --------------------------------------- 0.2/14.3 MB 2.5 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/14.3 MB 6.0 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/14.3 MB 9.4 MB/s eta 0:00:02
   ------- -------------------------------- 2.6/14.3 MB 11.9 MB/s eta 0:00:01
   ---------- ----------------------------- 3.7/14.3 MB 13.9 MB/s eta 0:00:01
   ------------- -------------------------- 4.8/14.3 MB 15.2 MB/s eta 0:00:01
   ---------------- ----------------------- 5.8/14.3 MB 16.2 MB/s eta 0:00:01
   ------------------- -------------------- 7.0/14.3 MB 17.2 MB/s eta 0:00:01
   ---------------------- ----------------- 8.1/14.3 MB 17.8 MB/s eta 0:00:01
   ------------------------- -------------- 9.2/14.3 MB 18.3 MB/s eta 0:00:01
   ---------------------------- ----------- 10.4/14.3 MB 21.8 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.3 MB 21.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.0/14.3 MB 21.8 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 21.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [2]:
# import module
import mysql.connector as conn

In [3]:
# make a connection with mysql
mydb = conn.connect(
  host="localhost",
  user="root",
  password="12345"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ECA8D3CE90>

In [4]:
#create a database in mysql 
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE df")

In [5]:
print(mycursor)

CMySQLCursor: CREATE DATABASE df

In [6]:
#show database
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('5_30',)
('aggr_fun',)
('bulk_load',)
('cases',)
('class11',)
('class11_2',)
('class_6',)
('cte',)
('df',)
('duplicates',)
('extraclass',)
('indexx',)
('information_schema',)
('joins',)
('mysql',)
('new_practice',)
('part',)
('partition1',)
('partitionss',)
('performance_schema',)
('practice',)
('practice_sql',)
('project',)
('regularexp',)
('sakila',)
('sys',)
('test',)
('trigg',)
('unions',)
('views',)
('win_fun',)
('world',)

In [ ]:
mycursor.execute("DROP DATABASE DEMO")

In [7]:
mycursor.execute("USE df")

In [8]:
#CREATE TABLE 
mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

In [9]:
# HERE WE EDIT THE TABLE ADD ANOTHER COLUMN "MOB", WHICH IS AUTOINCREMENTED AND ALSO PRIMARY KEY
mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [10]:
#inserting single row 
# NO NEED OF GIVE PARAMETER WHICH IS AUTOINCEMENTED
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("ROHIT", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

In [11]:
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [12]:
# INSERT MANY VALUE AT A TIME
sql = "INSERT INTO customer(name, address) VALUES (%s, %s)"
val = [("ROHIT", "Highway 21"),
  ('Peter', 'Lowstreet 4'),
  ('Ammy', 'Apple st 652'),
  ('Huma', 'Mountain 21')]

In [13]:
#COMMIT THE VALUE WHICH WE INSERTED 
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [14]:
#here again inserted a valus but will show the saperate id name of last added row
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Mohit", "sainagar")
mycursor.execute(sql, val)

mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 6

In [15]:
# for view all the existing records available in table
mycursor.execute("SELECT * FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)

In [16]:
# here we can view seperately induvisual column like here we are showing name and address

mycursor.execute("SELECT name, address FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21')
('ROHIT', 'Highway 21')
('Peter', 'Lowstreet 4')
('Ammy', 'Apple st 652')
('Huma', 'Mountain 21')
('Mohit', 'sainagar')

In [17]:
mycursor.execute("SELECT name FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT',)
('ROHIT',)
('Peter',)
('Ammy',)
('Huma',)
('Mohit',)

In [18]:
# we filtering the data by using where condition 
sql = "SELECT * FROM customer WHERE address ='sainagar'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Mohit', 'sainagar', 6)

In [19]:
# with only single word in syllabus we are applying filter  "Wildcard Character"
sql = "SELECT * FROM customer WHERE address LIKE '%652%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ammy', 'Apple st 652', 4)

In [20]:
### ?????????????
sql = "SELECT * FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [21]:
# using order by short the list  
sql = "SELECT * FROM customer ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)
('Peter', 'Lowstreet 4', 3)
('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)

In [22]:
# order by descending order
sql = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Mohit', 'sainagar', 6)
('Huma', 'Mountain 21', 5)
('Ammy', 'Apple st 652', 4)

In [23]:
# Delete record usning where condition 

sql = "DELETE FROM customer WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [24]:
# It is considered a good practice to escape the values of any query, also in delete statements.

# This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

# The mysql.connector module uses the placeholder %s to escape values in the delete statement: 

sql = "DELETE FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [ ]:
# for delete the table from database

sql = "DROP TABLE customer"

mycursor.execute(sql)

In [ ]:
# If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [25]:
# Update table Overwrite the address column from "Valley 345" to "Canyon 123":

sql = "UPDATE customer SET address = 'sainagar-2' WHERE address = 'sainagar'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [26]:
# Prevent SQL Injection: Escape values by using the placeholder %s method:

sql = "UPDATE customer SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [27]:
# you can limit the record and the row using limit 

mycursor.execute("SELECT * FROM customer LIMIT 3")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)